html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

// font-size został ustalony na 62.5%, żeby łatwiej było przeliczać piksele na rem'y

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
}


