$main-color: #b3c8cf;
$secondary-color: #d2beb3;
$beige-color: #eee7da;
$dark-blue: #2f5a69;
$light-white: #eee;
$dark: #2e2e2e;
$light-dark: #4e4e4e;
$shadow-color: rgba(194, 204, 207, 0.8);

$light-transparent-color: linear-gradient(
	45deg,
	rgba(179, 200, 207, 0.6),
	rgba(179, 200, 207, 0.7)
);
